.ocwcp-container ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.ocwcp-container ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
    border: 1px solid #ccc;
    background: #e5e5e5;
}
.ocwcp-container ul.tabs li.current{
    color: #222;
    border-bottom: 1px solid #f1f1f1;
    background: #f1f1f1;
}
.ocwcp-container .tab-content{
    display: none;
    padding: 15px;
}
.ocwcp-container .tab-content.current{
    display: inherit;
}
p.ocwcp-tips {
    margin: 2px 0 5px !important;
    color: #666;
    font-size: 12px !important;
    font-style: italic;
}
.ocwcp-space {
    height: 10px;
}
p.ocwcp-heading {
    font-size: 20px !important;
    font-weight: 600;
    margin: 0;
}
.ocwcp-product-rang ul li {
    display: inline-block;
    margin-right: 15px;
}
.ocwcp-container {
    margin-top: 20px;
}
.ocwcp-container .form-table th {
    width: 15%;
}
input#ocwcp-btn-space {
    margin: 0px 15px;
}